<!-- <div class="container-fluid mb-5">

<h2> Emplyee Details</h2>

<form>

    {{user.value | json}} -->

    <!-- <div class="form-control">

        <label for="ename">Emplyee Name :</label>
        <input type="text"  id="ename" [(ngModel)]="empName"  name="empName">

    </div>
    <br>

    <div class="form-control">

        <label for="role">Designation :</label>
        <input type="text"  id="role" name="Designation" [(ngModel)]="designation">

    </div>
    <br>

    <div class="form-control">
        <label for="dept">Department :</label>
        <input type="text"  id="dept" name="dept" [(ngModel)]="dept">

    </div><br>

    <div class="form-control">
        <label for="sal">Salary :</label>
        <input type="text"  id="sal" name="salary" [(ngModel)]="salary">

    </div>
<br>
    <div class="form-control">
        <button type="Submit" (click)="onSubmit()">Submit</button>
    </div>

</form> -->
<!-- </div> -->

<!DOCTYPE html>
<html>
<head>
    <title>TQ</title>
</head>
<body>
   
    <h1>TQ Leave Application</h1>

    <!-- Dropdown List 1 -->
    <label for="dropdown1">Employee List :</label>
    <select id="dropdown1" [(ngModel)]="empName" name="empName">
        <option *ngFor="let employee of empList" [value]="employee.ename">
            {{ employee.ename }}</option>
    </select>

    <!-- Dropdown List 2 -->
    <label for="dropdown2">Department :</label>
    <select id="dropdown2" [(ngModel)]="deptName" name="deptName">
        <option *ngFor="let department of deptList" [value]="department.deptName">
            {{ department.deptName}}
        </option>

    </select>
    
    <!-- Dropdown List 3 -->
    <label for="dropdown3">Leave Type :</label>
    <select id="dropdown3" [(ngModel)]="leaveType" name="leaveType">
        <option *ngFor="let leaveType of leaveList " [value]="leaveType.leaveName">
            {{ leaveType.leaveName}}
        </option>
        
    </select>

    
    <button style="margin-left: 10px;" (click)="navigatetoLeaveList()">All Leave List</button>

    <br>
    <br>
    <br>

    <!-- Calendar 1 -->
    <label for="calendar1" >Start Date :</label>
    <input type="date" id="calendar1" [(ngModel)]="startDate">

    <!-- Calendar 2 -->
    <label for="calendar2" >End Date :</label>
    <input type="date" id="calendar2" [(ngModel)]="endDate">

    <br>
    <br>
    <br>

    <!-- Comment Box -->
    <label for="comment">Description :</label>
    <textarea id="comment" rows="4" cols="50" [(ngModel)]="description "></textarea>

    <br>
    <br>
    <br>

    <!-- Submit Button (optional) -->
    <input type="submit" value="Submit" (click)="onSubmit()">
  
    
    
    </body>
    </html>




